{% extends "base.html" %} {% block title %} Rozetkin Link Shorter {% endblock %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> {% endblock %} {% block content %}
<section class="hero is-fullheight is-bold" id="particles-js">
    <div class="hero-body">
        <div class="box container has-text-centered">
            <h1 class="title is-size-1-desktop is-size-2-touch is-uppercase">Wow! It's 404... Sorry about that.</h1>

        </div>
    </div>
</section>
{% endblock %}{% block js_scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/particles-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/p-config.js') }}"></script>
{% endblock %}