{% extends "base.html" %} {% block title %} Register {% endblock %} {% block content %}
<div class="columns has-interactive-bg">
    <div class="login column is-4 ">
        <section class="section">
            <div class="content has-text-centered">
                <h1 class="title is-1">Change password</h1>
            </div>

            {% if errors %}
            <div class="content">
                {% for error in errors %}
                <article class="message is-danger">
                    <div class="message-header">
                        <p>Error</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {{ error }}
                    </div>
                </article>
                {% endfor %}
            </div>
            {% endif %}
            <form action="{{ url_for('change_password', next=request.args.get('next')) }}" method="post">
                {{ form.hidden_tag() }}
                <div class="field">
                    {{ form.old_password.label(class_="label") }}
                    <div class="control">
                        <div class="field has-addons">
                            <div class="control has-icons-left is-expanded">
                                {{ form.old_password(class_="input", id="old_pass") }}
                                <span class="icon is-small is-left">
                                    <i class="fa fa-key"></i>
                                </span>
                            </div>
                            <p class="control">
                                <button class="button fas fa-eye fav-icon toggle-pass" type="button"
                                    data-target="old_pass"></button>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field">
                    {{ form.password.label(class_="label") }}
                    <div class="control">
                        <div class="field has-addons">
                            <div class="control has-icons-left is-expanded">
                                {{ form.password(class_="input", id="primary_pass") }}
                                <span class="icon is-small is-left">
                                    <i class="fa fa-key"></i>
                                </span>
                            </div>
                            <p class="control">
                                <button class="button fas fa-eye fav-icon toggle-pass" type="button"
                                    data-target="primary_pass"></button>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field">
                    {{ form.password2.label(class_="label") }}
                    <div class="control">
                        <div class="field has-addons">
                            <div class="control has-icons-left is-expanded">
                                {{ form.password2(class_="input", id="additional_pass") }}
                                <span class="icon is-small is-left">
                                    <i class="fa fa-key"></i>
                                </span>
                            </div>
                            <p class="control">
                                <button class="button fas fa-eye fav-icon toggle-pass" type="button"
                                    data-target="additional_pass"></button>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field">
                    {{ form.submit(class_="button is-vcentered is-primary is-outlined is-link") }}
                </div>
            </form>
        </section>
    </div>
    <div id="particles-js" class="interactive-bg column is-8">
    </div>
</div>

{% endblock %} {% block js_scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/particles-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/p-config.js') }}"></script>
{% endblock %}