<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <small>This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.
            </small>
        </p>

        <p>
            <strong>RozLink</strong> by <a href="https://github.com/rozetkinrobot">rozetkin</a>. 2021
        </p>

    </div>
</footer>