{% extends 'base.html' %} {% block content %}
<!-- <div class="container"> -->
<div class="columns box is-1 is-multiline">
    <div class="column is-full">
        <section class="hero is-link welcome">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Hello, {{ current_user.login }}. {% if current_user.is_admin %} You are admin, i have some additional info for you){% endif %}
                    </h1>
                </div>
            </div>
        </section>
        <section class="info-tiles">
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">{{ total_links }}</p>
                        <p class="subtitle">Your links</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">{{ total_views }}</p>
                        <p class="subtitle">Views</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">{{ unique_ips }}</p>
                        <p class="subtitle">Unique ip adresses</p>
                    </article>
                </div>
                {% if current_user.is_admin %}
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">{{ admin_total_links }}</p>
                        <p class="subtitle">All links</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">{{ admin_total_views }}</p>
                        <p class="subtitle">All views</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">{{ admin_total_users }}</p>
                        <p class="subtitle">Registered users</p>
                    </article>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
    <div class="column is-full">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">
                    Links
                </p>
                <a class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </header>
            <div class="card-table">
                <div class="content">
                    {% if links %}
                    <div class="table-container">
                        <table class="table is-fullwidth is-striped is-hoverable">
                            <tbody>
                                {% for link in links[::-1] %}
                                <tr id="link-id-{{ link.id }}">
                                    <td width="5%"><i class="fa fa-link"></i></td>
                                    <td>
                                        <a
                                            href="{{ link.large_link }}">{{ link.large_link[:30] }}{% if link.large_link|length >30 %}...{% endif %}</a>
                                    </td>
                                    <td><a href="{{ config.SERVER_URI + '/' + link.short_link }}">Link</td>
                                    <td class="level-right">
                                        <button class="button is-small is-link modal-button modal-link-button"
                                            data-target="link-modal" data-linkid="{{ link.id }}">View</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div id="link-modal" class="modal">

                            <div class="modal-background"></div>
                            <div class="modal-card">
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Additional Link info</p>
                                    <button class="delete" aria-label="close"></button>
                                </header>
                                <section class="modal-card-body">
                                    <div class="content">
                                        <div class="field">
                                            <label class="label">Full link</label>
                                            <div class="control">
                                                <div class="field has-addons">
                                                    <div class="control has-icons-left is-expanded">
                                                        <input class="input" type="url" name="large_link"
                                                            id="large_link" value="" readonly>
                                                        <span class="icon is-small is-left">
                                                            <i class="fa fa-link"></i>
                                                        </span>
                                                    </div>
                                                    <p class="control">
                                                        <button
                                                            class="button fas fa-clipboard-list fav-icon clipboad-button"
                                                            type="button" data-target="large_link"></button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label">Short link</label>
                                            <div class="control">
                                                <div class="field has-addons">
                                                    <div class="control has-icons-left is-expanded">
                                                        <input class="input" type="url" name="short_link"
                                                            id="short_link" value="" readonly>
                                                        <span class="icon is-small is-left">
                                                            <i class="fa fa-link"></i>
                                                        </span>
                                                    </div>
                                                    <p class="control">
                                                        <button
                                                            class="button fas fa-clipboard-list fav-icon clipboad-button"
                                                            type="button" data-target="short_link"></button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label">Current state</label>
                                            <div class="control" id="status_button_control">
                                                <button class="button" id="status_button"></button>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label">QR code</label>
                                            <img class="image is-128x128" src="" alt="QR code" id="qr_code">
                                        </div>

                                        <div class="field">
                                            <label class="label">Views</label>
					    <div class="button" id="total_views"></div>
                                            <div class="control">
                                                <div class="table-container">
                                                    <table class="table is-fullwidth is-striped is-hoverable">
                                                        <thead>
                                                            <tr>
                                                                <th>IP Adress</th>
                                                                <th>Time</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="views_table">

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </section>
                                <footer class="modal-card-foot">
                                    <button class="button is-link">Ok</button>
                                    <button class="button is-danger" id="delete_link_button">Delete link</button>
                                </footer>
                            </div>

                        </div>
                    </div>
                    {% else %}
                    <div class="has-text-centered">
                        <div> You have got no short links :( </div>
                        <a href="{{ url_for('index') }}">Let's create it!</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js_scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
